.body{
    background-color: deepskyblue;
}
.header{
    background-color: deeppink;
}
.Content{
    background-color: darkorange;
    height: 300px;
}
.Entry{
    background-color: black;
    color: white;
    width: 800px;
}
.Side{
    float: right;
}
.Sidebar{
    background-color: black;
    color: white;
    height: 130px;
    width: 500px;
}
.Footer{
    background-color:blue;
}